:root {
  --white: #ffffff;
  --black: #1b1b1b;
  --gray: #f8f8f8;
  --red: #ff4444;
  --purple: #532bb4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 0px;
}

.wrapper {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 102vh;

  &::-webkit-scrollbar {
    width: 0px;
  }

  @media (max-width: 768px) {
    padding: 30px;
    height: 100vh;
  }
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 50px 100px;
  @media (max-width: 768px) {
    padding: 0;
    margin: 50px auto 0;
  }
}

.center {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

.container__margin {
  width: 100%;
  margin: 75px auto 0;
  padding: 120px 0 0 0;
  @media (max-width: 768px) {
    padding: 0;
    margin: 100px auto 0;
  }
}

.container__margin.home {
  width: 100%;
  margin: 75px auto 0;
  padding: 20px 0 0 0;
  @media (max-width: 768px) {
    padding: 0;
    margin: 100px auto 0;
  }
}

.text-center {
  text-align: center;
}

hr {
  margin-top: 55px;
}

h1,
h2,
h3 {
  color: #fff;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  font-size: 70px;
  margin: 100px auto;
  color: var(--black);
}

h2 {
  color: var(--gray);
  margin: 10px 0 50px 0;
}

.heading {
  margin: 0;
  @media (max-width: 768px) {
    padding: 0;
    margin: 0 auto 100px;
  }
  .hero__banner {
    width: 100%;
    min-height: 60vh;
    background: url("../images/hero_banner.jpg") 50% 50% / cover no-repeat;
    position: relative;
    @media (max-width: 768px) {
      min-height: 50vh;
    }

    .title {
      text-align: center;
      max-width: 1126px;
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      color: #fff;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: 1440px) {
        width: 90%;
        font-size: 60px;
        line-height: 66px;
        @media (max-width: 1024px) {
          width: 70%;
          font-size: 50px;
          line-height: 55px;
          @media (max-width: 768px) {
            padding: 0;
            margin: 0 auto 0;
            font-size: 30px;
            line-height: 36px;
          }
        }
      }
    }
  }
}
.heading__small {
  margin: 100px 0 50px;
  .title {
    max-width: 500px;
  }
}

.black {
  background: #1b1b1b;
  color: #fff;
}

h2.dark {
  color: #1b1b1b;
}

h3.dark {
  color: #1b1b1b;
}

h2.sub__title,
h3.sub__title {
  text-align: left;
}

.category__img {
  width: 50%;
  margin: 0 auto;
}
