h1.title {
	font-weight: 500;
	font-size: 48px;
	line-height: 63px;
	text-align: center;
	letter-spacing: 1px;

	color: #1d212c;
	max-width: 750px;
	margin-top: 50px !important;
	@media (max-width: 425px) {
		font-size: 30px !important;
		line-height: 36px !important;
		margin-top: 0 !important;
		@media (max-width: 320px) {
			font-size: 25px;
			line-height: 30px;
			margin-top: 0 !important;
		}
	}
}

h2.alert {
	background: var(--red);
	margin: 150px 0;
	@media (max-width: 425px) {
		margin: 50px 0;
		padding: 100px 0;
	}
}

.containerCol {
	max-width: 1200px;
	margin: 40px auto;
	// padding: 50px 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	@media (max-width: 1024px) {
		max-width: 960px;
		@media (max-width: 768px) {
			flex-direction: column;
			@media (max-width: 425px) {
				padding: 0;
			}
		}
	}

	.col {
		min-width: 960px;
		@media (max-width: 1024px) {
			min-width: 768px;
			@media (max-width: 768px) {
				min-width: 100%;
				width: 100%;
			}
		}
		&:nth-child(1) {
			min-width: 211px;
			width: 211px;
			height: 80vh;
			padding: 25px 20px;
			content: "";
			margin-right: 30px;
			box-shadow: 0px 0px 15px rgba(2, 38, 91, 0.12);
			position: sticky;
			top: 150px;
			background: #fff;
			overflow-y: scroll;
			overflow-x: hidden;
			&::-webkit-scrollbar {
				width: 0px;
			}
			@media (max-width: 1440px) {
				height: 80vh;
				@media (max-width: 768px) {
					width: 100%;
					height: auto;
					top: 0;
					position: relative;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: flex-start;
					justify-content: space-between;
					margin: 0 auto 40px;
					@media (max-width: 425px) {
						flex-direction: column;
						height: auto;
					}
				}
			}
			.formControl {
				@media (max-width: 768px) {
					width: 200px;
					// height: 30px;
					margin: 0;
					@media (max-width: 425px) {
						width: 100%;
					}
				}
			}
			.rangeControl {
				@media (max-width: 768px) {
					width: 200px;
					margin: 0 !important;
					@media (max-width: 425px) {
						width: 100%;
					}
				}
			}
			.MuiSlider-root {
				@media (max-width: 768px) {
					width: 200px;
					margin: 0;
					@media (max-width: 425px) {
						width: 100%;
					}
				}
			}
			.MuiInputBase-root {
				font-family: "Montserrat" !important;
			}
			.MuiInputBase-input {
				font-family: "Montserrat" !important;
			}
		}
		.mobileFilters {
			display: none;
			@media (max-width: 425px) {
				display: flex;
			}
		}
	}
}

.catalog__card {
	width: 960px;
	height: 298px;
	box-shadow: 0px 0px 15px rgba(2, 38, 91, 0.12);
	display: flex;
	justify-content: space-between;
	// align-items: center;
	padding: 31px 31px 31px 0;
	margin: 0 auto 40px;
	cursor: auto;
	text-decoration: none;
	@media (max-width: 1024px) {
		width: 768px;
		@media (max-width: 768px) {
			width: 100%;
			@media (max-width: 425px) {
				flex-direction: column;
				height: auto;
				padding: 30px;
				@media (max-width: 425px) {
					padding: 20px;
				}
			}
		}
	}
	.catalog__card__img {
		width: 308px;
		height: 236px;
		background: url("../images/rukav.png") 0 50% / contain no-repeat;
		@media (max-width: 425px) {
			height: 100px;
		}
	}
	.catalog__card__content {
		max-width: 600px;
		h2.catalog__card__header {
			font-size: 18px;
			line-height: 32px;

			color: #141517;
			text-align: left;
			max-width: 479px;
			margin: 0 0 10px 0;
			@media (max-width: 425px) {
				font-size: 15px;
				line-height: 20px;
			}
		}
		.catalog__card__desc {
			font-size: 13px;
			line-height: 28px;

			letter-spacing: -0.379167px;
			color: rgba(44, 46, 63, 0.697549);
			margin-bottom: 30px;
			width: 100%;
			@media (max-width: 425px) {
				font-size: 12px;
				line-height: 20px;
			}
		}
		.catalog__btn {
			width: 146px;
			height: 40px;
			background: var(--red);
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 9px;
			line-height: 11px;
			text-align: center;
			letter-spacing: 1px;
			cursor: pointer;
			transition: 0.3s;
			border: 1px solid var(--red);
			&:hover {
				color: var(--red);
				background: transparent;
				border: 1px solid var(--red);
			}
		}
	}
}
