.text {
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	line-height: 28px;
	&.dark {
		color: var(--black);
		margin: 10px 0 20px 0;
	}
}

.ymaps-2-1-76-ground-pane {
	filter: grayscale(1);
}

.containerContacts {
	width: 500px;
	min-height: 500px;
	padding: 50px;
	margin: 0 auto 100px;
	position: absolute;
	top: 400px;
	left: 250px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 10;
}
