.col.filters {
	.filters {
		display: none;
		&.active {
			display: block;
		}
	}
	.mobileFilters {
		width: 100%;
		display: none;
		position: relative;
		@media (max-width: 768px) {
			display: flex;
		}
		&.active:before {
			display: block;
			width: 15px;
			height: 2px;
			background: var(--red);
			content: "";

			position: absolute;
			top: 0;
			right: 5px;
			transform: translateY(-50%) rotate(-45deg) translateX(-48%);
		}
		&.active:after {
			display: block;
			width: 15px;
			height: 2px;
			background: var(--red);
			content: "";

			position: absolute;
			top: 0;
			right: 5px;
			transform: translateY(-50%) rotate(45deg) translateX(48%);
		}

		&:before {
			display: block;
			width: 15px;
			height: 2px;
			background: var(--red);
			content: "";

			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%) rotate(-45deg) translateX(48%);
		}
		&:after {
			display: block;
			width: 15px;
			height: 2px;
			background: var(--red);
			content: "";

			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%) rotate(45deg) translateX(-48%);
		}
	}
	.formControl {
		width: 100%;
		margin-bottom: 20px !important;
		@media (max-width: 1024px) {
			margin-bottom: 30px !important;
		}
	}

	.rangeControl {
		margin-bottom: 20px !important;
	}

	.MuiSlider-root {
		color: var(--red) !important;
	}

	.MuiButton-label {
		color: #fff !important;
		font-weight: 500 !important;
		font-size: 12px !important;
		line-height: 15px !important;
		letter-spacing: 0.253846px !important;
	}

	.MuiInput-underline:after {
		border-bottom: 1px solid var(--red) !important;
	}

	.MuiInput-underline:before {
		border-bottom: 1px solid var(--black) !important;
	}

	.MuiFormLabel-root {
		color: var(--black) !important;
	}

	.MuiTypography-colorTextSecondary {
		color: var(--red) !important;
	}

	.dropFilters {
		background: var(--red);
		cursor: pointer;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 100%;
	}
}
