.pagination {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 10px 0 2px 0;
	width: 100%;
	.page-link {
		padding: 5px 10px;
		background: var(--red);
		margin-left: 2px;
		color: #fff;
	}
	.page-link:hover {
		background: #fff;
		color: var(--red);
	}
	.currentPage {
		padding: 0 10px 5px;
	}
}

.paginationCategory {
	max-width: 960px;
	margin: 0 auto;
}
