.paginationWrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	@media (max-width: 375px) {
		flex-direction: column;
	}
	.pagination {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		padding: 10px 0 2px 0;
		width: calc(100% - 70px);
		@media (max-width: 375px) {
			width: 100%;
		}
		.page-item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 25px;
			height: 29px;
			background: var(--red);
			margin-left: 2px;
			&:hover {
				background: #fff;
			}
		}
		.page-link {
			color: #fff;
			&:hover {
				color: var(--red);
			}
		}
	}
	.currentPage {
		padding-top: 10px;
		width: 80px;
		@media (max-width: 375px) {
			width: 100%;
			text-align: center;
		}
	}
}

.paginationCategory {
	max-width: 960px;
	margin: 0 auto;
}
